.image {
  top: 2058px;
  margin-left: 40px;
  width: 460px;
  height: 360px;
  /* background: transparent url("") 0% 0% no-repeat padding-box; */
  border-radius: 24px;
  opacity: 1;
}

.heading {
  left: 169px;
  margin-top: 1rem;
  width: 525px;
  height: 60px;
  text-align: left;
  font: normal normal medium 64px/84px Roboto;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  font-weight: 500;
  font-size: 2rem;
}
#imageTitle::after {
  z-index: 1000;
  background: green;
  content: "Text";
}
