::-webkit-scrollbar {
    width: 0px;
  }
  
  .container {
    display: flex;
    overflow-x: scroll;
    width: 100%;
  }
  
  .card {
    flex-shrink: 0;
    width: 75px;
    height: 90px;
    border-radius: 40px;
    margin-left: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }